* {
  padding: 0px;
  margin: 0px;
  font-size: 14px;
}

a {
  position: relative;
  top: 7px;
  color: white;
}

h4,
h3,
h2 {
  font-weight: bolder;
}

.news-headline {
  font-size: 105px;
  font-weight: 650;
  text-align: center;
  font-stretch: 200%;
}

.news-label {
  width: 100px;
  height: 25px;
  background-color: maroon;
  transform: skewX(8deg);
}

.news-label::before {
  content: "";
  position: absolute;
  width: 10%;
  left: -5px;
  height: 100%;
  background-color: maroon;
  transform: skewX(-8deg);
}

.news-label-text {
  overflow-wrap: normal;
  transform: skewX(-8deg);
  position: absolute;
  left: 5px;
  color: white;
  display: inline;
  white-space: nowrap;
  font-weight: bold;
}

.whiteSpc {
  white-space: nowrap;
}

.zi-1 {
  z-index: 1;
  position: relative;
}

.zi-2 {
  z-index: 2;
  position: relative;
  top: 7px;
  left: 5px;
}

.mar-headline {
  color: maroon;
}

@media (min-width: 600px) and (max-width: 1000px) {
  .below-nav {
    font-size: 11px;
  }

  .news-headline {
    font-size: 50px;
    font-weight: 650;
    text-align: center;
  }
  
  .mar-headline {
    font-size: 22px;
  }

  #heading1_electric_cars {
    font-size: 30px !important;
    font-weight: bold !important;
  }
  
  #page_name {
    font-weight: 900 !important;
    font-size: 30px !important;
  }
  
  .news-label {
    width: 70px;
  }
  
  .news-label::before {
    width: 20%;
  }
  
  .news-label-text {
    font-size: 10px;
  }
}
@media (min-width: 800px) and (max-width: 1000px) {
  #page_name {
    font-weight: 900 !important;
    font-size: 40px !important;
  }

  .news-label {
    width: 80px;
  }
  
  .news-label::before {
    width: 20%;
  }
  
  .news-label-text {
    font-size: 11px;
  }
}

@media (min-width: 1000px) and (max-width: 1200px) {
  .below-nav {
    font-size: 12px;
  }

  .news-headline {
    font-size: 70px;
    font-weight: 650;
    text-align: center;
  }

  .mar-headline {
    font-size: 23px;
  }
  
  #page_name {
    font-weight: 900 !important;
    font-size: 40px !important;
  }
  
  .news-label {
    width: 90px;
  }
  
  .news-label::before {
    width: 20%;
  }
  
  .news-label-text {
    font-size: 12px;
  }
}

@media only screen and (max-width: 600px) {
  * {
    font-size: 12px;
  }

  #page_name {
    font-weight: 900 !important;
    font-size: 25px !important;
  }

  #heading1_electric_cars {
    font-size: 25px !important;
    font-weight: bold !important;
  }

  .page1-top-text {
    font-size: 10px !important;
  }
  .h4,
  .h3,
  .h2 {
    font-weight: bold;
  }

  .para-grid {
    padding-left: 1.5em;
  }

  .below-nav {
    font-size: 10px;
  }

  .news-headline {
    font-size: 40px;
    font-weight: 650;
    text-align: center;
  }

  #p2_h1 {
    font-size: 20px;
  }

  .mar-headline {
    font-size: 20px;
  }

  .news-label {
    width: 50px;
  }
  
  .news-label::before {
    width: 20%;
  }
  
  .news-label-text {
    font-size: 9px;
  }
}

#page_name {
  font-weight: 900;
  font-size: 60px;
}

#heading1_electric_cars {
  font-size: 50px;
  font-weight: bolder;
}

.text-wrap {
  word-wrap: break-word;
}
